<!DOCTYPE html>
<html class="no-js" lang="eng">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="telephone=no" name="format-detections"/>
  <title>
   Open Happiness: Your Daily Dose of Positivity!
  </title>
  <link href="/static/foundation.min.css" rel="stylesheet"/>
  <link href="/static/style.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="page-content">
   <h1>
    Welcome to Your Daily Dose of Happiness!
   </h1>
   <div class="row">
    <div="small-3 columns"="" id="happy-images">
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins11.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest11.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest3.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest6.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies1.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest17.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies2.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins14.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest8.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest9.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies14.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest7.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins18.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest4.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies15.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins10.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins3.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies10.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest5.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins5.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies7.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies11.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies4.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest16.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest19.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest10.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest12.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins8.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins20.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies9.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies17.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest20.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies16.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins12.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies20.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest15.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins2.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies18.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies19.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins6.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies8.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies12.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest14.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins4.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins9.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies3.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest1.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins7.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins17.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies5.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest13.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest18.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins19.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins15.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/mount everest2.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies13.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies6.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins1.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins13.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/hipster cabins16.jpg"/>
    </div="small-3>
   </div>
  </div>
 </body>
</html>