<!DOCTYPE html>
<html class="no-js" lang="eng">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="telephone=no" name="format-detections"/>
  <title>
   Open Happiness: Your Daily Dose of Positivity!
  </title>
  <link href="/static/foundation.min.css" rel="stylesheet"/>
  <link href="/static/style.css" rel="stylesheet"/>
 </head>
 <body>
     <div class="page-content">
         <div class="row">
             <div class="large-12 columns">
                 <form class="formAdd" action="dbAdd" method="POST" role="form">
                    <h2>Add Items to the Database</h2>
                    <label>Adjectives to Add</label>
                    <textarea placeholder="Type any words you want to add to the 'adjectives'
                                           table seperated by commas" name="adjAdd"></textarea>
                    <label>Positive Things</label>
                    <textarea placeholder="Enter in positive words to add to the database
                                           eg. 'Puppies', 'Bunnies', 'Pineapples'" name="posAdd"></textarea>
                    <button id="submitButton"><b>Submit</b></button>
                 </form>
                 <form class="formCurrent" action="dbDisplay" method="GET" role="form">
                   <h2>Items Currently Available for Query</h2>
                   <label>Adjectives in Database</label>
                   <textarea name="adjCurrent"></textarea>
                   <label>Positive Things in Database</label>
                   <textarea name="posCurrent"></textarea>
             </div>
         </div>
     </div>
 </body>
