<!DOCTYPE html>
<html class="no-js" lang="eng">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="telephone=no" name="format-detections"/>
  <title>
   Open Happiness: Your Daily Dose of Positivity!
  </title>
  <link href="/static/foundation.min.css" rel="stylesheet"/>
  <link href="/static/style.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="page-content">
   <h1>
    Welcome to Your Daily Dose of Happiness!
   </h1>
   <div class="row">
    <div="small-3 columns"="" id="happy-images">
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies1.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies10.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies11.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies12.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies13.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies14.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies15.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies16.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies17.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies18.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies19.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies2.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies20.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies3.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies4.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies5.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies6.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies7.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies8.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies9.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu1.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu10.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu11.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu12.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu13.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu14.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu15.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu16.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu17.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu18.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu19.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu2.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu20.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu3.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu4.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu5.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu6.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu7.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu8.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/katmandu9.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies1.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies10.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies11.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies12.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies13.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies14.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies15.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies16.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies17.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies18.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies19.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies2.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies20.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies3.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies4.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies5.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies6.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies7.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies8.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/puppies9.jpg"/>
    </div="small-3>
   </div>
  </div>
 </body>
</html>