<!DOCTYPE html>
<html class="no-js" lang="eng">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="telephone=no" name="format-detections"/>
  <title>
   Open Happiness: Your Daily Dose of Positivity!
  </title>
  <link href="/static/foundation.min.css" rel="stylesheet"/>
  <link href="/static/style.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="page-content">
   <h1>
    Welcome to Your Daily Dose of Happiness!
   </h1>
   <div class="row">
    <div="small-3 columns"="" id="happy-images">
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115511.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115516.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611555.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115513.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115510.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611559.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611556.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611553.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611551.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611552.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115517.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115514.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611557.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611554.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115519.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115520.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611558.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115518.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115515.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115512.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115511.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115516.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611555.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115513.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115510.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611559.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611556.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611553.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611551.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611552.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115517.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115514.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611557.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611554.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115519.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115520.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes121611558.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115518.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115515.jpg"/>
     <img alt="#" class="retrieved-photos" src="/static/happy-images/ persistent  snowflakes1216115512.jpg"/>
    </div="small-3>
   </div>
  </div>
 </body>
</html>